// Color system
$white: #ffffff !default;
$black: #292e34 !default;

$pink:  #f193de !default;
$green: #93f1aa !default;
$red:   #cb1a1a !default;
$yellow:#eade5d !default;
$blue:  #5d95ea !default;

$primary:   $black !default;
$secondary: $red !default;