/* ====================
# PARTIALS: BLOCK HERO
==================== */
.section-hero {
  .section-inner {
    position: relative;
    padding-top: 75px;
    padding-bottom: 75px;
    background-color: $white;
  }
}